---
layout: base
---
<div class="post">

    <h2> Honors & Awards </h2>
    {% assign posts = site.posts %}
    {%- if posts.size > 0 -%}
      <ul>
        {%- assign date_format = site.minima.date_format | default: "%b, %Y" -%}
        {%- for post in posts -%}
        {% if post.categories contains "award" %}
        <li>
            <p>{{ post.meta | escape }}, {{ post.date | date: date_format }} 
            {%- if post.note -%}
                &nbsp({{ post.note }})
            {%- endif -%}
            <a href="{{ post.url | relative_url }}">
                [...]
            </a>
            </p>
        </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}

</div>
